@import url('./root.css');

/* HEADER-START */
.header{
    width: 100%;
    background: var(--clr-primary);
    z-index: 999;
}
.header .navbar .navbar-brand > img{
    width: 64px;
}
.header .navbar .navbar-toggler > .bar{
    background: var(--clr-white);
    border-radius: 5px;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
}
.header .navbar .navbar-nav .nav-item > .nav-link{
    font-weight: 500;
    color: var(--clr-white);
}
.header .navbar .navbar-nav .nav-item > .nav-link:hover{
    font-weight: 500;
    color: #F3EED9;
}
/* HEADER-END */

/* DISTRICT-START */
.district{
    height: 150px;
    background: #FAF9F4;
}
.district  h1{
    position: relative;
    top: 100px;
    font-size: 2rem;
    font-weight: 600;
    color: #5E4548;
}
/* DISTRICT-END */

/* MANAGERS-START */
.managers{
    width: 100%;
    height: 100%;
    margin: 100px 0;
}
.managers .search-filter > span{
    color: var(--clr-gray);
}
.managers .search-filter select{
    height: 40px;
    width: 250px;
    padding: 0 10px;
    color: var(--clr-gray);
    border: 1px solid #A5A5A5;
    border-radius: 2px;
}
.managers .profile-card .card{
    border: 2px solid transparent;
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.managers .profile-card .profile-img > img{
    width: 82px;
    margin-right: 20px;
}
.managers .profile-card .profile-info .profile-name{
    font-size: 2rem;
    font-weight: 700;
}
.managers .profile-card .profile-info span{
    font-weight: 500;
}
/* MANAGERS-END */

/* DATE-CONVER-START */
.date-convert{
    width: 100%;
    height: 100%;
    margin: 90px 0;
}
.date-convert .wrapper > span{
    color: var(--clr-gray);
    font-size: 1.2rem;
    font-weight: 500;
}
.date-convert .wrapper .convert > input{
    height: 42px;
    width: 250px;
    padding: 0 10px;
    color: var(--clr-gray);
    border: 1px solid #A5A5A5;
    border-radius: 2px;
}
/* DATE-CONVER-END */

/* Back-To-Top-Btn */
.scrollToTop {
    background: var(--clr-primary);
    border: none;
    border-radius: 5px;
    color: #FFF;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    padding: 10px 16px;
    font-size: 16px;
    display: block;
    z-index: 9999;
    transition: transform 0.3s ease-in;
    transform-origin: top;
}
.scrollToTop:active,
.scrollToTop.hover{
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1);
}

@media only screen and (max-width: 768px){
    /* MANAGERS-START */
    .managers .profile-card .profile-img > img{
        margin-bottom: 20px;
        margin-right: 0px;
    }
    .managers .profile-card .profile-info .profile-name{
        font-size: 1.5rem;
        font-weight: 700;
    }
    .managers .profile-card .profile-info span{
        font-weight: 500;
    }
    /* MANAGERS-END */
}